/* ******************* 0 to 479px ******************* */
#wrapper {
	width: 100%;
}
#header {
	background: #9fb7d4;
}
#header header {
	margin: 0 auto;
}
#contents {
	overflow: hidden;
	margin: 0 auto;
	min-height: 500px;/*サンプル用に高さ設定してあります。*/
}
#main {
	background: #d2dc8d;
}
#left-sidebar {
	min-height: 100px;/*サンプル用に高さ設定してあります。*/
	background: #eee;
}
#right-sidebar {
	min-height: 500px;/*サンプル用に高さ設定してあります。*/
	background: #ccc;
	margin: 0 0 10px 0;
}
#footer {
	border-top: 2px solid #9fb7d4;
}
#footer footer {
	margin: 0 auto;
	height: 120px;/*サンプル用に高さ設定してあります。*/
}
#header header,
#contents,
#footer footer {
	width: 100%;
}
/* ** */
@media only screen and (min-width: 480px) {
#main {
	background: #8ccf8a;
}
/* ** */}
@media only screen and (min-width: 769px) {
#header {
	min-width: 960px;
}
#contents {
	min-width: 960px;
}
#main {
	width: 660px;
	background: #d49fc2;
	float: left;
}
#left-sidebar {
	width: 150px;
	background: #eee;
	float: left;
	margin: 0 0 10px 0;
}
#right-sidebar {
	width: 150px;
	background: #ccc;
	float: left;
	margin: 0 0 10px 0;
}
#footer {
	min-width: 960px;
}
#header header,
#contents,
#footer footer {
	width: 960px;
}
/* ** */}